.header {
  padding: 0 16px;

  background-color: rgba(22, 22, 23, .8);
  backdrop-filter: saturate(1.8) blur(20px);
  color: white;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    $navPaddingHorizontal: 20px;

    height: 48px;
    padding: 0 $navPaddingHorizontal;
    margin-left: calc(0px - $navPaddingHorizontal);
    
    color: inherit;
  }

  &__link:hover {
    color: aqua;
  }
}