:root {
  --header-height: 50px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0
}

/* #region Header */
.header {
  /* display: flex;
  justify-content: space-between; */

  position: sticky;
  top: 0;

  padding: 0 16px;

  background-color: rgba(22, 22, 23, .8);
  backdrop-filter: saturate(1.8) blur(20px);
  color: white;
}

.header__logo {
  color: inherit;
  height: 48px
}

.nav__toggler {
  display: none;
}

.nav__toggler-label::before {
  content: '=';
}

.nav__toggler:checked + .nav__toggler-label::before {
  content: 'x'
}

.nav__toggler:checked ~ .nav__list {
  max-height: 100vh;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
  .nav__list {
    max-height: 100%;
    flex-direction: row;
  }

  .nav__toggler-label  {
    display: none;
  }
}

.nav__link {
  color: white;
  text-decoration: none;
  font-size: 20px;

  margin: 0 10px;

  padding: 10px;

  display: inline-block;

  transition: color 0.3s ease-in-out;
}

.header__link:hover {
  color: aqua;
}

/* #endregion */
.main  {
  background-color: antiquewhite;

  padding: 10px 20px;

  /* border: 1px solid transparent; */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 500px;
  background: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);

  text-align: center;
}